.player{
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: rgb(179, 178, 177);
    width: 300px;
    border-radius: 50px 0 0 50px;

    span{
        font-size: 32px;
        margin-left: 16px;
    }

    img{
        height: 70px;
        width: 70px;
        object-fit: contain;
        border-radius: 100%;
    }
}

.player_active{
    background-color: orange !important;

}